* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* mono font */
  font-family: "Roboto Mono", monospace;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c9d5b4;
  padding-top: 200px;
}

.card-number, .card-holder, .expiration-date, .ccv, .submit-button {
    padding-inline: 18px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 250px;
  
  margin-top: -180px;
  border-radius: 10px;
  width: 100%;
  margin-inline: auto;
  background: hsla(348, 31%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(348, 31%, 50%, 1) 0%,
    hsla(333, 37%, 29%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(348, 31%, 50%, 1) 0%,
    hsla(333, 37%, 29%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(348, 31%, 50%, 1) 0%,
    hsla(333, 37%, 29%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A65867", endColorstr="#672F48", GradientType=1 );
}

.checkout-page {
  max-width: 520px;
  border-radius: 10px;
  padding: 30px;
  

  background: #fff;
}

.checkout-page > div {
  margin-bottom: 20px;
}

label {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 6px;
  text-transform: uppercase;
  display: block;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 10px;
  height: 13px;
  margin-top: 0.5rem;
  display: none;
}


.card-number-input-fields {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.card-number-input,
.card-holder-input,
.expiration-date-input,
.ccv-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.expiration-date-input,
.ccv-input {
  width: 93px;

}

button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #408b94;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.expiration-date-ccv {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}


.submit-message{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.8);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

.message{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #62959c;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #408b94;
}

.show{
  display: flex;
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

}

.card h3{
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.card p{
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 1.1rem;
  font-weight: 400;
}


.card-holder-expiration-date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.card-chip-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.card-chip{
  width: 60px;
  height: 50px;
  border-radius: 5px;
}

.card-type{
  width: 60px;
  height: 50px;
  border-radius: 5px;
  margin-left: 1rem;
}

.card-type img, .card-chip img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 
.error{
  color: hsla(0, 100%, 60%, 1);
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.5rem;
} */

